body {
  background: #333;
  margin: 2rem;
}
#video-compare-container-1 {
  display: flex;
  justify-content: center;
  overflow: hidden; /* 隐藏超出容器的部分 */
  width: 800px; /* 设置容器宽度 */
  position: relative; /* 设置相对定位，用于绝对定位剪辑器 */
}

#video-compare-container-1 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-1 {
  width: 50%; /* 设置剪辑器宽度 */
  position: absolute; /* 设置绝对定位，让剪辑器在容器内部移动 */
  top: 0;
  left: 0;
}
#video-clipper-1 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

body {
  background: #333;
  margin: 2rem;
}
#video-compare-container-2 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-2 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-2 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-2 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

body {
  background: #333;
  margin: 2rem;
}
#video-compare-container-3 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-3 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-3 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-3 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

body {
  background: #333;
  margin: 2rem;
}
#video-compare-container-4 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-4 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-4 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-4 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

body {
  background: #333;
  margin: 2rem;
}
#video-compare-container-5 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-5 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-5 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-5 video {
  width: 200%;
  position: absolute;
  height: 100%;
}
