body {
  background: #080808;
  margin: 2rem;
}

h1 {
  margin-bottom: 60px; /* 在标题下方增加20px的间距 */
  text-align: center;
  font-size: 100px; /* 设置字体大小为 24 像素 */
  font-weight: bold; /* 设置字体加粗 */
  color: #f7f7f7;
}

p {
  font-size: 1.3em;
  text-align: center;
  font-size: 50px; /* 设置字体大小为 24 像素 */
  color: #f7f7f7;
}

h2 {
  margin-bottom: 10px; /* 在标题下方增加20px的间距 */
  text-align: center;
  font-size: 50px; /* 设置字体大小为 24 像素 */
  color: #f7f7f7;
}

#video-compare-container-1 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-1 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-1 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-1 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

#video-compare-container-2 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-2 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-2 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-2 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

#video-compare-container-3 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-3 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-3 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-3 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

#video-compare-container-4 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-4 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-4 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-4 video {
  width: 200%;
  position: absolute;
  height: 100%;
}

#video-compare-container-5 {
  display: inline-block;
  line-height: 0;
  position: relative;
  width: 100%;
  padding-top: 42.3%;
}
#video-compare-container-5 > video {
  width: 100%;
  position: absolute;
  top: 0; height: 100%;
}
#video-clipper-5 {
  width: 50%; position: absolute;
  top: 0; bottom: 0;
  overflow: hidden;
}
#video-clipper-5 video {
  width: 200%;
  position: absolute;
  height: 100%;
}
